body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    height: 100vh;
    background-color:rgb(62, 62, 62);
  }

  section{
border: 5px solid white;
background-color: rgb(101, 149, 191);
height: 90vh;
margin-top: 2%;
margin-left: 20%;
margin-right: 20%;

  }

  div{
    padding-top: 5px;
  }

  #mercadoForm{
font-size:25px;
margin-left: 20%;
}

#nomeProduto{

width:200px;
height: 25px;

}

#valorProduto{
width:200px;
height: 25px;
margin-left:10px;

}

#quantidade{

    width:200px;
    height: 25px;
    margin-left:63px;
}

button{

}
  #pagamentoForm{

    padding-top: 5px;
    text-align: center;
 }

 h2{
  text-align: center;
 }

 #btn1{
margin-left: 40%;

 }

 .cupom{

  text-align: center;
 }

 #cupomFinal{
  text-align: center;
 }

 #trocoInfo{
  color: red;
 }