body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  height: 100vh;
  background-color: rgb(62, 62, 62);
  background-image: url('img/logo.png'); /* Substitua pelo caminho da sua imagem */
 
  background-repeat: no-repeat; /* Evita repetição da imagem */
}

section {
  border: 5px solid white;
  background-color: rgb(101, 149, 191);

  margin-top: 8%;
  margin-left: 10%; /* Reduzi a margem esquerda e direita */
  margin-right: 10%;
  padding: 10px; /* Adicionei algum preenchimento para dar espaçamento interno */
}

#mercadoForm {
  font-size: 1.5em; /* Utilizando unidade relativa */
  margin-left: 5%; /* Reduzi a margem esquerda */
}

/* Adicionei um estilo para os campos de entrada para torná-los mais responsivos */
input[type="text"],
input[type="number"] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 30px; /* Ajuste a altura conforme necessário */
}

button {
  width: 22%; /* Ocupa a largura total disponível */
}

#pagamentoForm {
  padding-top: 5px;
  text-align: center;
}

h2 {
  text-align: center;
}

#btn1 {
  margin-left: 0; /* Removi a margem esquerda */
}

.cupom {
  text-align: center;
}

#cupomFinal {
  text-align: center;
}

#trocoInfo {
  color: red;
}
